---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <article>
    <h1>About</h1>
    <h2>Ricardo Wang</h2>
    <p>赞美 <a href="https://stu.cs.tsinghua.edu.cn/tex9">Tex9</a></p>
    <p><a href="/assets/resume___zh.pdf">中文简历</a></p>
    <p><a href="/assets/resume___en.pdf">Resume</a></p>
  </article>
</BaseLayout>
